blinker
certifi
charset-normalizer
click
colorama
decorator
Flask
Flask-Cors
idna
imageio
imageio-ffmpeg
itsdangerous
Jinja2
MarkupSafe
moviepy
numpy
Pillow
proglog
requests
SpeechRecognition
tqdm
urllib3
Werkzeug
